<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/219eef83-b60e-4b2e-9518-5acd14dd8058/resourceGroups/VanTien/providers/Microsoft.ApiManagement/service/BookAppapi/apis/BookApp</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/219eef83-b60e-4b2e-9518-5acd14dd8058/resourceGroups/VanTien/providers/Microsoft.Web/sites/BookApp20220116162343</ResourceId>
    <ResourceGroup>VanTien</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bookapp20220116162343.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>43bdbd51-c64b-4d1a-ba5f-03fd8a19543a</ProjectGuid>
    <PublishUrl>https://bookapp20220116162343.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BookApp20220116162343</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>